.dark {
  --md-sys-color-primary: rgb(85 217 223);
  --md-sys-color-surface-tint: rgb(85 217 223);
  --md-sys-color-on-primary: rgb(0 55 57);
  --md-sys-color-primary-container: rgb(0 173 179);
  --md-sys-color-on-primary-container: rgb(0 58 60);
  --md-sys-color-secondary: rgb(162 207 209);
  --md-sys-color-on-secondary: rgb(2 54 57);
  --md-sys-color-secondary-container: rgb(35 80 82);
  --md-sys-color-on-secondary-container: rgb(148 192 194);
  --md-sys-color-tertiary: rgb(226 182 255);
  --md-sys-color-on-tertiary: rgb(70 26 102);
  --md-sys-color-tertiary-container: rgb(185 137 219);
  --md-sys-color-on-tertiary-container: rgb(74 30 106);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 228 227);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(222 228 227);
  --md-sys-color-surface-variant: rgb(60 73 74);
  --md-sys-color-on-surface-variant: rgb(187 201 201);
  --md-sys-color-outline: rgb(134 147 148);
  --md-sys-color-outline-variant: rgb(60 73 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 227);
  --md-sys-color-inverse-on-surface: rgb(43 50 50);
  --md-sys-color-inverse-primary: rgb(0 105 109);
  --md-sys-color-primary-fixed: rgb(117 245 251);
  --md-sys-color-on-primary-fixed: rgb(0 32 33);
  --md-sys-color-primary-fixed-dim: rgb(85 217 223);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 82);
  --md-sys-color-secondary-fixed: rgb(189 235 237);
  --md-sys-color-on-secondary-fixed: rgb(0 32 33);
  --md-sys-color-secondary-fixed-dim: rgb(162 207 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(33 77 79);
  --md-sys-color-tertiary-fixed: rgb(243 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(46 0 77);
  --md-sys-color-tertiary-fixed-dim: rgb(226 182 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 51 126);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(52 58 58);
  --md-sys-color-surface-container-lowest: rgb(9 15 15);
  --md-sys-color-surface-container-low: rgb(23 29 29);
  --md-sys-color-surface-container: rgb(27 33 33);
  --md-sys-color-surface-container-high: rgb(37 43 43);
  --md-sys-color-surface-container-highest: rgb(48 54 54);
}
