.dark-high-contrast {
  --md-sys-color-primary: rgb(185 252 255);
  --md-sys-color-surface-tint: rgb(85 217 223);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(80 213 219);
  --md-sys-color-on-primary-container: rgb(0 14 15);
  --md-sys-color-secondary: rgb(202 249 251);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(158 203 205);
  --md-sys-color-on-secondary-container: rgb(0 14 15);
  --md-sys-color-tertiary: rgb(251 235 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(223 177 255);
  --md-sys-color-on-tertiary-container: rgb(23 0 41);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 228 227);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(60 73 74);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(229 243 243);
  --md-sys-color-outline-variant: rgb(183 197 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 227);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 81 84);
  --md-sys-color-primary-fixed: rgb(117 245 251);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(85 217 223);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 21);
  --md-sys-color-secondary-fixed: rgb(189 235 237);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(162 207 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 21);
  --md-sys-color-tertiary-fixed: rgb(243 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(226 182 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 0 54);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(75 81 81);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 33);
  --md-sys-color-surface-container: rgb(43 50 50);
  --md-sys-color-surface-container-high: rgb(54 61 61);
  --md-sys-color-surface-container-highest: rgb(66 72 72);
}
