.dark-medium-contrast {
  --md-sys-color-primary: rgb(110 239 245);
  --md-sys-color-surface-tint: rgb(85 217 223);
  --md-sys-color-on-primary: rgb(0 43 45);
  --md-sys-color-primary-container: rgb(0 173 179);
  --md-sys-color-on-primary-container: rgb(0 16 17);
  --md-sys-color-secondary: rgb(183 229 231);
  --md-sys-color-on-secondary: rgb(0 43 45);
  --md-sys-color-secondary-container: rgb(109 152 154);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(239 210 255);
  --md-sys-color-on-tertiary: rgb(58 12 90);
  --md-sys-color-tertiary-container: rgb(185 137 219);
  --md-sys-color-on-tertiary-container: rgb(26 0 47);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 228 227);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(60 73 74);
  --md-sys-color-on-surface-variant: rgb(209 223 223);
  --md-sys-color-outline: rgb(167 180 181);
  --md-sys-color-outline-variant: rgb(133 147 147);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 227);
  --md-sys-color-inverse-on-surface: rgb(37 43 43);
  --md-sys-color-inverse-primary: rgb(0 81 84);
  --md-sys-color-primary-fixed: rgb(117 245 251);
  --md-sys-color-on-primary-fixed: rgb(0 20 21);
  --md-sys-color-primary-fixed-dim: rgb(85 217 223);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 63);
  --md-sys-color-secondary-fixed: rgb(189 235 237);
  --md-sys-color-on-secondary-fixed: rgb(0 20 21);
  --md-sys-color-secondary-fixed-dim: rgb(162 207 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(11 60 63);
  --md-sys-color-tertiary-fixed: rgb(243 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(31 0 54);
  --md-sys-color-tertiary-fixed-dim: rgb(226 182 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(76 33 108);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(63 70 70);
  --md-sys-color-surface-container-lowest: rgb(4 8 8);
  --md-sys-color-surface-container-low: rgb(25 31 31);
  --md-sys-color-surface-container: rgb(35 41 41);
  --md-sys-color-surface-container-high: rgb(46 52 52);
  --md-sys-color-surface-container-highest: rgb(57 63 63);
}
